# Database
DATABASE_URL="postgresql://user:password@localhost:5432/shaka_bbq"

# Stripe
STRIPE_SECRET_KEY="sk_test_51T5s6YJmLrZQXNeCweXctwq3DOM608SGR62Tu43SsregMGwCwYNU1vVD50Xp58JP8a0qm4GU0Ml8NBWDD6SB9TT900ReIBi2JF"
STRIPE_WEBHOOK_SECRET="whsec_ebc35ff2bb93e84e4385d279a37a562d126f1593eda96b00a4a44a0599bbee6a"

# App
NEXT_PUBLIC_SITE_URL="http://localhost:3000"

# Admin
ADMIN_PASSWORD="QWERtyuiop"
